extends layout

block content
  .titleBlock(style="text-align:center;margin-top:5%")
    h1 Woke-api
    h5 Send a post to /getCollection with the following parameters:
    p topic : [ trumpTopic, domesticTopic, worldTopic ]
    p polarity : [ left, left-center, center, right, allSides] (may map numerically soon)
    p collectionSize : size of returned documents, defaults to [1]
    p title : title of document. Be aware that some documents have multiple titles
    p **documents are sorted by date_publish
    
