extends layout

block content
  .titleBlock(style="text-align:center;margin-top:5%")
    h1 Woke-api
    p Possible routes https://github.com/Avsphere/woke-api/blob/master/routing/masterRouter.js
    
